#
__pycache__
\.vscode
/*.bak

#
/test/**/*.xml
/base64/**/*.xml
/mersenne_twister/**/*.xml
/ringbuffer/**/*.xml
/stats/**/*.xml
/linalg/**/*.xml
/string_lib/**/*.xml
/vector/**/*.xml
/xorshift32/**/*.xml
